* {
  margin: 0;
  padding: 0;
}
.banner {
  width: 82%;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  ) url('../Images/Group\ 13\ \(1\)\ \(1\).png');
}
