@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Mulish;
}
nav {
  max-width: 1170px;

  margin: 0 auto;
  display: flex;
}
.nav-image {
  min-height: 100px;
  display: flex;
  width: 50%;
  align-items: center;
  gap: 17px;
}
.nav-image img {
  width: 50px;
  object-fit: cover;
}
.nav-image p {
  font-family: Mulish;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.nav-image p .xp {
  color: #ff5400;
}
nav .items {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .items a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}
.banner {
  max-width: 1170px;
  min-height: 500px;
  border-radius: 16px;

  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group13.png");
  background-repeat: no-repeat;
}
.banner-content {
  max-width: 770px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.banner-text {
  padding-top: 106px;
}
.banner-text h1 {
  font-size: 64px;
  color: white;
  font-family: Mulish;
  font-weight: 800;
}
.banner-text h4 {
  font-size: 16px;
  color: white;
  font-family: Mulish;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}

.banner-input input,
select {
  width: 175px;
  height: 52px;
  padding-left: 10px;
  border-style: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
}
.banner-input {
  display: flex;
  margin-top: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  justify-content: center;
}
.banner-input button {
  width: 175px;
  height: 52px;
  padding-left: 10px;
  border-style: none;
  border-radius: 8px;
  color: white;
  background-color: #ff5400;
}

/* ----banner-end----*/
/* popular-start */
.popular {
  max-width: 1170px;
  min-height: 550px;
  margin: 100px auto;

  display: flex;
  justify-content: space-between;
}
.popular-content {
  width: 50%;
}
.popular-content h1 {
  color: #131318;

  font-family: Mulish;
  font-size: 40px;

  font-weight: 800;
}
.popular p,
.list {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;

  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.popular p {
  margin: 24px 0;
}
.popular li {
  margin-bottom: 15px;
}
.popular p,
.list {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;

  font-weight: 400;
  line-height: 26px;
}
.list {
  width: 87%;
  padding-left: 20px;
}
.popular-image {
  width: 50%;
}
.popular-image img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.popular button {
  width: 10em;
  height: 52px;
  border-radius: 8px;
  background-color: #ff5400;
  border-style: none;
  color: white;
  font-family: Mulish;
  font-size: 20px;

  font-weight: 800;
}
/* popular-end */
/* destination-start */
.destination {
  max-width: 1400px;
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.destination-img {
  width: 100%;

  min-height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.row {
  width: 100%;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
  margin: 12px auto;
  min-height: 135px;
}
.row .img1 , .img2{
  display: block;
  width: 49%;
  object-fit: cover;
  border-radius: 8px;
}
.row .img3 , .img4 , .img5{
  display: block;
  width: 32%;
  object-fit: cover;
  border-radius: 8px;
}
.row .img6{
  display: block;
  width: 42%;
  object-fit: cover;
  border-radius: 8px;
}
.row  .img7{
  display: block;
  width: 56%;
  object-fit: cover;
  border-radius: 8px;
}


/* destination-end */

/* choose start */
.choose {
  max-width: 1400px;
  margin: 48px auto;
  width: 82%;

display: flex;
flex-direction: column;
align-items: center;

}
.choose-text{
  text-align: center;
}
.choose-flex{

  margin:20px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  align-items: center;
  justify-content: space-between;
}
.box1{
height: 284px;
width: 100%;

display: flex;
justify-content: space-between;

}
.box2 , .box-1, .box-2{
height: 284px;
width: 48%;
border-radius: 16px;

}
.box2 , .box-1{

border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.box-2{

border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.content{
  margin: 24px 0 0 24px;
  width: 90%;
}
.content  img , h2  {
  margin-bottom:20px ;
}
/* end */
/* news */
.news{
  max-width: 1400px;
  width: 82%;
  display: flex;
  margin: 20px auto;
  min-height:450px;
  border: 1px solid;
  justify-content: center;
  justify-content: space-between;
}
.form-news{
  width: 36%;
  border-radius: 16px;
border: 1px solid #FF5400;
}
.news-img{
  width: 56%;
  background: url("../Images/Rectangle8.png");
  object-fit: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    max-width: 335px;
    max-height: 483px;
    border-radius: 16px;
  }
  .banner-text {
    padding: 34px 0;
  }
  .banner-text h1 {
    font-size: 24px;
  }
  .banner-text h4 {
    font-size: 14px;
    margin-top: 10px;
  }
  .banner-input {
    flex-direction: column;
    max-width: 256px;
    min-height: 255px;
    margin: 0 auto;
    gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .popular {
    flex-direction: column;
    align-items: center;
  }
}